<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>首页</title>
		<link rel="stylesheet" href="lib/layui/css/layui.css" />
		<script src="lib/layui/layui.all.js"></script>
		<link rel="stylesheet" href="css/font.css">
		<link rel="stylesheet" href="css/xadmin.css">
		<link rel="stylesheet" href="css/globle.css">
		<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
		<script type="text/javascript" src="lib/layui/layui.js" charset="utf-8"></script>
		<script type="text/javascript" src="js/xadmin.js"></script>
	</head>
	<style type="text/css">
		.class_d {
			width: 70%;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			float: left;
		}

		.layui-nav-tree {
			width: 100%;
		}

		.layui-nav-child dd a {
			color: white;
		}

		.SiteBrief_ed57fd7c_acfe_4703_b0e2_9709c9e6ef4e {
			background-size: initial;
			background-repeat: no-repeat;
			background-position: initial;
			background-image: url(img/jsbg1.png);
			background-color: rgba(0, 0, 0, 0);
			background-position-x: ;
			background-position-y: ;
			margin-left: 20px;
			margin-right: 20px;
			margin-top: 0px;
			margin-bottom: 0px;
			padding-left: 20px;
			padding-right: 20px;
			padding-top: 18px;
			padding-bottom: 20px;
		}

		.ClassList_8c136ab4_c50b_4281_ae50_04ec2586f893 {
			height: 200px;
			background-size: initial;
			background-position-x: initial;
			background-image: url(img/download.png);
			background-color: rgba(0, 0, 0, 0);
			background-position-y: 13px;
			margin-left: 20px;
			margin-right: 20px;
			margin-top: 0px;
			margin-bottom: 0px;
			padding-left: 75px;
			padding-right: 0px;
			padding-top: 105px;
			padding-bottom: 0px;
			background-repeat: no-repeat;
		}

		4
	</style>
	<body>
		<div class="layui-container" id="main">
			<div class="layui-col-xs12">
				<img src="img/banner_img_24.jpg" width="100%" />
			</div>
			<div class="layui-col-xs12">
				<div>
					<ul class="layui-nav layui-bg-blue">
						<li class="layui-nav-item layui-this"><a href="index.html">首页</a></li>
						<li class="layui-nav-item"><a href="more/detail.html">园所介绍</a></li>
						<li class="layui-nav-item"><a href="more/admissions.html">招生简介</a></li>
						<li class="layui-nav-item"><a href="more/features.html">园内特色</a></li>
						<li class="layui-nav-item"><a href="../admin/index.html">后台页面</a></li>
					</ul>
				</div>
			</div>
			<div class="layui-col-xs12">
				<div class="layui-carousel" id="test10">
					<div carousel-item="">
						<div><img src="img/banner1.jpg" width="100%"></div>
						<div><img src="img/banner2.jpg" width="100%"></div>
						<div><img src="img/banner3.jpg" width="100%"></div>
						<div><img src="img/banner4.jpg" width="100%"></div>
					</div>
				</div>
			</div>
			<div class="layui-col-xs9" style="margin-top: 10px;">
				<div class="SiteBrief_ed57fd7c_acfe_4703_b0e2_9709c9e6ef4e">
					<div class="introduction-list">
						<div class="title">
							<div class="item">
								<a>园所介绍</a>
							</div>
						</div>
						<div class="content introduction-list-c">
							<div class="text introduction-txtr" style="width: 100%;">
								<p style="text-indent:32px; line-height:33px">
									<span style="font-family: 宋体; font-size: 18px;">
										枫林幼儿园创办于1986年，是一所具有30多年办园历史的上海市徐汇区公办二级幼儿园，园所环境整洁温馨，目前共有11个班级。
										幼儿园以《3—6岁儿童学习与发展指南》精神为引领，努力落实“为儿童幸福和发展实施快乐的启蒙教育”，确立了
										“顺性而育 &nbsp;乐享童年”的办园理念，致力于培养“健康活泼有自信、文明乐群善交往”的具有初步责任感的现代小公民。
									</span>
								</p>
							</div>
							<div class="clear">
							</div>
						</div>
					</div>
				</div>
				<div class="ClassList_8c136ab4_c50b_4281_ae50_04ec2586f893">
					<div class="content" style="margin: 20px 0 0 30px;">
						<div  v-for="item in projects">
							{{item.name}}
						</div>
					</div>
				</div>
			</div>
			<div class="layui-col-xs3" style="margin-top: 10px;">
				<div style="background: url(img/news1.png);position: relative; background-size: initial;background-color: rgba(0, 0, 0, 0); padding-top: 60px;background-repeat: no-repeat;background-position: initial;">
					<div style="margin: 10px 0 0 10px;">
						<p style="margin-top: 10px;">
							<a href="more/news_detail.html?id=one" title="凝心铸师魂 立德育幼苗">凝心铸师魂 立德育幼苗</a>
						</p>
						<p style="margin-top: 10px;">
							<a href="more/news_detail.html?id=tow" title="本园庆祝新中国成立70周年系列活动">本园庆祝新中国成立70周年系列活动</a>
						</p>
						<p style="margin-top: 10px;">
							<a href="more/news_detail.html?id=three" title="安全工作重于泰山">安全工作重于泰山</a>
						</p>
					</div>
				</div>
			</div>
			<div class="layui-col-xs12">
				<div class="layui-main">
					<ul class="site-idea">
						<li>
							<fieldset class="layui-elem-field layui-field-title">
								<legend><img src="img/t03.jpg" /></legend>
								<p v-for="item in dishes">
									<a href="#" v-on:click="checkDishesDetail(item.id)">{{item.dishesDate | dateFilter}}日菜式</a>
									<span style="width: 30%;">【{{item.dishesDate | dateFilter}}】</span>
								</p>
							</fieldset>
						</li>
						<li>
							<fieldset class="layui-elem-field layui-field-title">
								<legend><img src="img/t01.jpg" /></legend>
								<p v-for="item in clean">
									<a href="#" v-on:click="checkCleaningDetail(item.id)">{{item.site}}</a>
									<span style="width: 30%;">【2019-09-09】</span>
								</p>
							</fieldset>
						</li>
						<li>
							<fieldset class="layui-elem-field layui-field-title">
								<legend><img src="img/t04.jpg" /></legend>
								<p v-for="item in payStandards">
									<a href="#" v-on:click="checkChargeDetail(item.id)">{{item.year | dateFilter}}收费标准</a>
								</p>
							</fieldset>
						</li>
					</ul>
				</div>
			</div>
			<div class="layui-col-xs12">
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">账号</label>
						<div class="layui-input-inline">
							<input type="tel" v-model="inputtext.loginName" autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">密码</label>
						<div class="layui-input-inline">
							<input type="password" v-model="inputtext.password" autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-inline">
						<div class="layui-input-inline">
							<button type="button" class="layui-btn layui-btn-primary" v-on:click="login()">登录</button>
						</div>
					</div>
				</div>
			</div>
			<div class="layui-footer">
				<div class="">

				</div>
			</div>
		</div>
		<script src="js/vue-2.5.17.min.js"></script>
		<script src="js/axios-0.18.min.js"></script>
		<script src="js/moment.min.js"></script>
		<script src="js/vue-main.js"></script>
		<script>
			var vue = new Vue({
				el: "#main",
				data: {
					user: {},
					inputtext: {
						loginName: '',
						password: ''
					},
					dishes: [],
					clean: [],
					payStandards: [],
					projects: []
				},
				methods: {
					login: function() {
						var _this = this;
						if (_this.inputtext.loginName == "") {
							layer.alert('请输入用户名', {
								icon: 5
							});
							return;
						}
						if (_this.inputtext.password == "") {
							layer.alert('请输入密码', {
								icon: 5
							});
							return;
						}
						axios.post('/user/login', _this.inputtext)
							.then(function(response) {
								console.info(response.data.code);
								if (response.data.code == 200) {
									sessionStorage.setItem("userId", response.data.data.userInfo.id);
									sessionStorage.setItem("username", response.data.data.userInfo.name);
									sessionStorage.setItem("accessToken", response.data.data.accessToken);
									sessionStorage.setItem("userType", response.data.data.userInfo.userType);
									layer.alert("登录成功");
									window.location.href = 'admin/index.html';
								} else {
									layer.alert(response.data.message);
								}

							})
							.catch(function(err) {

							});
					},
					findDishes: function() {
						var _this = this;
						axios.get('/dishesDaily/find').then(function(res) {
							console.info(res);
							_this.dishes = res.data.data.rows;
						})
					},
					findProject: function() {
						var _this = this;
						axios.get('/project/find').then(function(res) {
							console.info(res);
							_this.projects = res.data.data.rows;
						})
					},
					checkDishesDetail: function(id) {
						layer.open({
							type: 2,
							title: '菜品详情',
							shadeClose: true,
							closeBtn: 1,
							scrollbar: true,
							area: ['100%', '100%'],
							content: ['detail/dishesDetail.html?id=' + id],
						})
					},
					findCleaning: function() {
						var _this = this;
						axios.get('/cleaning/find').then(function(res) {
							console.info(res);
							_this.clean = res.data.data.rows;
						})
					},
					checkCleaningDetail: function(id) {
						layer.open({
							type: 2,
							title: '清洁信息',
							shadeClose: true,
							closeBtn: 1,
							scrollbar: true,
							area: ['100%', '100%'],
							content: ['admin/health/cleanInfo/cleanInfo.html?id=' + id],
						})
					},
					findCharges: function() {
						var _this = this;
						axios.get('/payStandard/findByList').then(function(res) {
							console.info(res);
							_this.payStandards = res.data.data.rows;
						})
					},
					checkChargeDetail: function(id) {
						layer.open({
							type: 2,
							title: '收费标准',
							shadeClose: true,
							closeBtn: 1,
							scrollbar: true,
							area: ['100%', '100%'],
							content: ['admin/charge/charge.html?id=' + id],
						})
					},
				},
				created: function() {
					this.findDishes();
					this.findCleaning();
					this.findCharges();
					this.findProject();
					this.$nextTick(function() {
						layui.use(['carousel', 'form'], function() {
							var carousel = layui.carousel,
								form = layui.form;
							//图片轮播
							carousel.render({
								elem: '#test10',
								width: '100%',
								height: '347px',
								interval: 5000
							});
						});
					});
				},
				filters: {
					dateFilter: function(value) {
						if (!value) return '';
						var date = moment(value).toDate();
						return moment(date).format("YYYY-MM-DD");
					},
				}
			})
		</script>
	</body>
</html>
