<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<link rel="stylesheet" href="../../css/font.css">
		<link rel="stylesheet" href="../../css/xadmin.css">
		<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
		<script type="text/javascript" src="../../lib/layui/layui.js" charset="utf-8"></script>
		<script type="text/javascript" src="../../js/xadmin.js"></script>
	</head>

	<body>
		<div class="x-nav">
			<span class="layui-breadcrumb">
				<a href="">首页</a>
				<a href="">园长管理</a>
				<a>
					<cite>收费管理</cite>
				</a>
			</span>
			<a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);"
			 title="刷新">
				<i class="layui-icon" style="line-height:30px">ဂ</i></a>
		</div>
		<div class="x-body" id="main">
			<div class="layui-row">
				<div class="layui-form layui-col-md12 x-so">
					<input type="text" v-model="inputtext.year" placeholder="收费年限" autocomplete="off" class="layui-input">
					<button class="layui-btn" v-on:click="getStudent(1)"><i class="layui-icon">&#xe615;</i></button>
				</div>
			</div>
			<xblock>
				<button class="layui-btn" onclick="x_admin_show('添加收费标准','charge_add.html')"><i class="layui-icon"></i>添加</button>
				<span class="x-right" style="line-height:40px">共有数据：{{total}} 条</span>
			</xblock>
			<table class="layui-table">
				<thead>
					<tr>
						<th>ID</th>
						<th>学费</th>
						<th>书费</th>
						<th>伙食费</th>
						<th>住宿费</th>
						<th>缴费期限</th>
						<th>收费学年</th>
						<th>文件</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="item,index in payStandards">
						<td>{{index + 1}}</td>
						<td>{{item.schooling/100}}</td>
						<td>{{item.bookMoney/100}}</td>
						<td>{{item.boardAges/100}}</td>
						<td>{{item.quarterage/100}}</td>
						<td>{{item.year | dateFilter}}</td>
						<td>{{item.paymentDeadline | dateFilter}}</td>
						<td><a href="javascript:;" v-on:click="check_file(item.file)">点击预览收费标准文件</a></td>
						<td>
							<a title="编辑" v-on:click="editP(item.id)" href="javascript:;">
								<i class="layui-icon">&#xe642;</i>
							</a>
							<a title="删除" v-on:click="deleteU(item.id)" href="javascript:;">
								<i class="layui-icon">&#xe640;</i>
							</a>
							<a title="下载" v-bind:href="'/images/' + item.file">
								<i class="layui-icon">&#xe601;</i>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="page">
				<a class="prev" href="javascript:void(0)" v-on:click="prePage">&lt;&lt;</a>
				<template v-for="(item,index) in pages">
					<template v-if="pageNum!=2&&pages!=2&&pages!=1 && pageNum==1 && item<pageNum+5 && item>pageNum-5">
						<a href="javascript:void(0)" v-bind:class="{ 'current': pageNum == item}" href="javascript:void(0)" v-on:click="pageClick(item)">{{item}}</a>
					</template>
					<template v-if="pageNum==2 && item<pageNum+4 && item>pageNum-4">
						<a v-bind:class="{ 'current': pageNum == item}" href="javascript:void(0)" v-on:click="pageClick(item)">{{item}}</a>
					</template>
					<template v-if="pageNum>2 && item<pageNum+3 && item>pageNum-3 && pageNum<pages-1">
						<a v-bind:class="{ 'current': pageNum == item}" href="javascript:void(0)" v-on:click="pageClick(item)">{{item}}</a>
					</template>
					<template v-if="pageNum!=2&&pageNum==pages-1 && item>pageNum-4">
						<a v-bind:class="{ 'current': pageNum == item}" href="javascript:void(0)" v-on:click="pageClick(item)">{{item}}</a>
					</template>
					<template v-if="pageNum!=2&&pageNum==pages && item>pageNum-5">
						<a v-bind:class="{ 'current': pageNum == item}" href="javascript:void(0)" v-on:click="pageClick(item)">{{item}}</a>
					</template>
				</template>
				<a class="next" href="javascript:void(0)" v-on:click="nextPage">&gt;&gt;</a>
			</div>
		</div>
		<script type="text/javascript" src="../../js/jquery.min.js"></script>
		<script type="text/javascript" src="../../js/vue-2.5.17.min.js"></script>
		<script type="text/javascript" src="../../js/axios-0.18.min.js"></script>
		<script type="text/javascript" src="../../js/moment.min.js"></script>
		<script type="text/javascript" src="../../js/vue-main.js"></script>
		<script>
			var gender = ['男', '女'];
			var vue = new Vue({
				el: "#main",
				data: {
					payStandards: "",
					pageSize: 5,
					total: 0,
					pages: 0,
					pageNum: 1,
					inputtext: {},
					editInp: {}
				},
				methods: {
					getStudent: function(pageIndex) {
						pageIndex = isNaN(pageIndex) ? 1 : pageIndex;
						var _this = this;
						axios.get('/payStandard/findByList', {
							params: {
								year: _this.inputtext.year == "" ? null : _this.inputtext.year,
								pageNum: pageIndex,
								size: _this.pageSize
							}
						}).then(function(res) {
							if (res.status == 202) {
								alert("无权访问");
								return;
							}
							_this.payStandards = res.data.data.rows;
							_this.pageNum = pageIndex;
							_this.total = res.data.data.total;
							_this.pages = Math.ceil(_this.total / _this.pageSize);
						})
					},
					pageClick: function(page) {
						this.getStudent(page);
					},
					prePage: function() {
						this.pageNum--;
						if (this.pageNum < 1) {
							this.pageNum = 1;
							return;
						}
						this.getStudent(this.pageNum);
					},
					nextPage: function() {
						this.pageNum++;
						if (this.pageNum > this.pages) {
							this.pageNum = this.pages;
							return;
						}
						this.getStudent(this.pageNum);
					},
					logout: function() {
						logout();
						location.href = "login.html";
					},
					findChil: function(id) {
						layer.open({
							type: 2,
							title: '学生信息',
							shadeClose: true,
							closeBtn: 1,
							scrollbar: true,
							area: ['100%', '100%'],
							content: ['parents_chi.html?id=' + id],
						})
					},
					deleteU: function(id) {
						var _this = this;
						layer.confirm("是否删除该条目？", {
							btn: ['确认', '取消'] //按钮
						}, function() {
							axios.post('/payStandard/delete/' + id).then(function(res) {
								if (res.data.code == 200) {
									layer.alert('删除成功', {
										icon: 6
									});
									_this.getStudent(1);
								} else {
									layer.alert(res.data.message, {
										icon: 5
									});
								}
							});
						});
					},
					editP: function(id) {
						var _this = this;
						layer.open({
							type: 2,
							title: '修改收费信息',
							shadeClose: true,
							closeBtn: 1,
							scrollbar: true,
							area: ['600px', '400px'],
							content: ['charge_edit.html?id=' + id],
							end: function() {
								_this.getStudent();
							}
						})
					},
					check_file: function(file) {
						console.info(file.substr(0, 16) + ".swf")
						layer.open({
							type: 2,
							title: '收费标准',
							shadeClose: true,
							closeBtn: 1,
							scrollbar: true,
							area: ['100%', '100%'],
							content: ['file.html?file=' + file.substr(0, 16) + ".swf"],
						})
					},
				},
				created: function() {
					this.getStudent();
				},
				filters: {
					dateFilter: function(value) {
						if (!value) return '';
						var date = moment(value).toDate();
						return moment(date).format("YYYY-MM-DD");
					},
					optStatusFilter: function(value) {
						return gender[value];
					}
				}
			})
		</script>
	</body>

</html>
