<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>详情</title>
		<link rel="stylesheet" href="../lib/layui/css/layui.css" />
		<script src="../lib/layui/layui.all.js"></script>
		<link rel="stylesheet" href="../css/font.css" />
		<link rel="stylesheet" href="../css/xadmin.css" />
		<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
		<script type="text/javascript" src="../lib/layui/layui.js" charset="utf-8"></script>
		<script type="text/javascript" src="../js/xadmin.js"></script>
	</head>
	<body>
		<div class="layui-container" id="main1">
			<div class="layui-col-xs12">
				<img src="../img/banner_img_24.jpg" width="100%" />
			</div>
			<div class="layui-col-xs12">
				<div>
					<ul class="layui-nav layui-bg-blue">
						<li class="layui-nav-item"><a href="../index.html">首页</a></li>
						<li class="layui-nav-item"><a href="detail.html">园所介绍</a></li>
						<li class="layui-nav-item"><a href="admissions.html">招生简介</a></li>
						<li class="layui-nav-item"><a href="features.html">园内特色</a></li>
						<li class="layui-nav-item"><a href="../admin/index.html">后台页面</a></li>
					</ul>
				</div>
			</div>
			<div v-if="newsId=='one'">
				<div id="content2"></div>
				<h1 style="text-align: center;"><span id="region___ctl00_mcr_ArticleTitle1___lblArticleTitle">凝心铸师魂 立德育幼苗</span>
				</h1>
				<div class="p"><span id="region___ctl00_mcr_ArticleContent1___lblContent">
						<h2 id="activity-name" style="text-align: center;"><span style="FONT-SIZE: 20px; COLOR: #0070c0">本园师德建设主题教育月活动</span></h2>
						<h2 style="text-align: center;"><span style="FONT-SIZE: 20px; COLOR: #0070c0"><img src="http://conimg.yp.yeyimg.com/2019/10/22/59548b2f-d52c-4463-b7aa-99850756cead.png"><img
								 src="http://conimg.yp.yeyimg.com/2019/10/22/06c17603-34b7-41f8-bc6b-27df55d511d1.png"><img src="http://conimg.yp.yeyimg.com/2019/10/22/7bb43cc8-de03-40ea-8807-f0ff8dae80a8.png"><img
								 src="http://conimg.yp.yeyimg.com/2019/10/22/dc9f5e48-5e88-4850-aa73-f806c9ee8e4c.png"><img src="http://conimg.yp.yeyimg.com/2019/10/22/5b46c916-f27f-49d4-b995-5e31efd67da6.png"><img
								 src="http://conimg.yp.yeyimg.com/2019/10/22/1a80d6e6-e9a2-4c70-91ec-9ae6272cb403.png"><img src="http://conimg.yp.yeyimg.com/2019/10/22/0a850528-c62c-44dc-846e-c95fff05bc2e.png"><img
								 src="http://conimg.yp.yeyimg.com/2019/10/22/a4941dfc-8c26-4cbc-b4f7-469fe0b6dd3b.png"><img src="http://conimg.yp.yeyimg.com/2019/10/22/65354a2e-0a4b-466f-840d-5f0866d5844b.png"><img
								 src="http://conimg.yp.yeyimg.com/2019/10/22/5ddacc58-6d3a-4396-b990-616b78c9b794.png"><img src="http://conimg.yp.yeyimg.com/2019/10/22/b3c0217f-ec97-4a9c-bdb4-98321c168b15.png"><img
								 src="http://conimg.yp.yeyimg.com/2019/10/22/454d1c48-1963-41bc-89c3-235238ed2dea.png"><img src="http://conimg.yp.yeyimg.com/2019/10/22/fd47689e-e625-41a4-b009-55dc0297c82b.png"><img
								 src="http://conimg.yp.yeyimg.com/2019/10/22/261c6be9-a85b-4c00-afeb-47c0d4bde0fd.png"><img src="http://conimg.yp.yeyimg.com/2019/10/22/77e1129d-6d92-428b-9f34-bbd16816d630.png"><img
								 src="http://conimg.yp.yeyimg.com/2019/10/22/277aed5b-27dc-4fc6-9cab-79ae5d62c30f.png"><img src="http://conimg.yp.yeyimg.com/2019/10/22/15a3cf65-dbc2-421a-8171-925b50396045.png"><img
								 src="http://conimg.yp.yeyimg.com/2019/10/22/0447b2bf-6eb2-4062-a5af-0c2da0f2215a.png"></span></h2>
						<p></p>
					</span>
				</div>
			</div>
			<div v-if="newsId=='tow'">
				<!--content begin-->
				<div id="content2"></div>
				<h1 style="text-align: center;"><span id="region___ctl00_mcr_ArticleTitle1___lblArticleTitle">我和我的祖国</span>
				</h1>
				<div class="p"><span id="region___ctl00_mcr_ArticleContent1___lblContent">
						<h2 id="activity-name" style="text-align: center;"><span style="FONT-SIZE: 20px; COLOR: #c00000">本园庆祝新中国成立70周年系列活动</span></h2>
						<h2 style="text-align: center;"><span style="FONT-SIZE: 20px; COLOR: #c00000"><img src="http://conimg.yp.yeyimg.com/2019/10/22/d55e504d-84da-4c2e-9070-65a10103e9c6.png"><img
								 src="http://conimg.yp.yeyimg.com/2019/10/22/02a3932f-9bd4-4aa4-a0a9-3549d56bc9e1.png"><img src="http://conimg.yp.yeyimg.com/2019/10/22/9a805e80-53b3-41fc-b139-ed7be8f2ce8a.png"><img
								 src="http://conimg.yp.yeyimg.com/2019/10/22/549748b4-2b5b-4e92-9187-9c57e0b953e0.png"><img src="http://conimg.yp.yeyimg.com/2019/10/22/3d9ffbd8-b2ea-416e-b535-817d45adb673.png"><img
								 src="http://conimg.yp.yeyimg.com/2019/10/22/f06f0bfa-4d2d-4ae1-a2e7-eb17809bb171.png"><img src="http://conimg.yp.yeyimg.com/2019/10/22/5dac0a07-15cd-4df4-ac66-3459e18df499.png"><img
								 src="http://conimg.yp.yeyimg.com/2019/10/22/548b7bd7-2dc5-4e87-bc90-51b82c5069a1.png"><img src="http://conimg.yp.yeyimg.com/2019/10/22/d8060f6f-ae63-45ad-ba72-d125ba002d39.png"><img
								 src="http://conimg.yp.yeyimg.com/2019/10/22/e7588b9e-5b48-4090-9c31-b878e5fbdb53.png"><img src="http://conimg.yp.yeyimg.com/2019/10/22/1f576788-1a24-458d-83eb-9943d8e0aa78.png"><img
								 src="http://conimg.yp.yeyimg.com/2019/10/22/8027d7fe-cd23-4892-a96a-40bff84d60d1.png"><img src="http://conimg.yp.yeyimg.com/2019/10/22/d3da0513-7bc4-451b-af03-aba7a649086b.png"><img
								 src="http://conimg.yp.yeyimg.com/2019/10/22/2b2ea6e0-62dc-474e-b80d-da42ac4aadde.png"><img src="http://conimg.yp.yeyimg.com/2019/10/22/84369459-c94e-4cb2-a19d-7d1d83e26e0c.png"><img
								 src="http://conimg.yp.yeyimg.com/2019/10/22/1437bf4f-1091-497d-88e1-2e866083c288.png"><img src="http://conimg.yp.yeyimg.com/2019/10/22/c20f7eae-905b-4aca-afbf-4655418a9a0d.png"><img
								 src="http://conimg.yp.yeyimg.com/2019/10/22/9ad93049-c16a-41c1-b441-1ebeedf28421.png"><img src="http://conimg.yp.yeyimg.com/2019/10/22/be2cc1f6-3001-4eb0-aa8d-bec02e9517cd.png"><img
								 src="http://conimg.yp.yeyimg.com/2019/10/22/5c0ef492-fa0f-42f3-905c-c0d9a57f3346.png"><img src="http://conimg.yp.yeyimg.com/2019/10/22/0ac21a83-b38a-4d69-982b-51077bd6b04b.png"><img
								 src="http://conimg.yp.yeyimg.com/2019/10/22/e15cf9d0-a97d-4e0e-8a37-019e474b68a2.png"><img src="http://conimg.yp.yeyimg.com/2019/10/22/7549dc03-e608-4850-8122-b5e4bd82f017.png"><img
								 src="http://conimg.yp.yeyimg.com/2019/10/22/2c8b4d44-f3fd-424e-b212-cd762dc84621.png"><img src="http://conimg.yp.yeyimg.com/2019/10/22/34f76cd2-9505-4096-a3b3-8e6af8cee81b.png"><img
								 src="http://conimg.yp.yeyimg.com/2019/10/22/629e03a3-7497-4c3a-9c4a-a09a5989217e.png"><img src="http://conimg.yp.yeyimg.com/2019/10/22/2d55e1f8-56c9-442b-82e8-8d23f0dc6f78.png"><img
								 src="http://conimg.yp.yeyimg.com/2019/10/22/1f9e00ed-ad83-4057-b009-d9193a82846d.png"><img src="http://conimg.yp.yeyimg.com/2019/10/22/7d02addb-f5c9-46c7-b997-8030e7fa3eb5.png"><img
								 src="http://conimg.yp.yeyimg.com/2019/10/22/8d4b8353-5b71-49c6-bdae-bbff5e588283.png"><img src="http://conimg.yp.yeyimg.com/2019/10/22/67f9f77c-20b6-4234-8656-3a930d683bf7.png"><img
								 src="http://conimg.yp.yeyimg.com/2019/10/22/473c4b34-28a1-45d0-b3ba-6da8c0ffb437.png"></span></h2>
					</span>
				</div>
			</div>
			<div v-if="newsId=='three'">
				<!--content begin-->
				<div id="content2"></div>
				<h1 style="text-align: center;"><span id="region___ctl00_mcr_ArticleTitle1___lblArticleTitle">安全工作重于泰山</span>
				</h1>
				<div class="p"><span id="region___ctl00_mcr_ArticleContent1___lblContent">
						<h2 id="activity-name" style="text-align: center;"><span style="FONT-SIZE: 18px">本园迎接安全生产大检查</span></h2>
						<h2 style="text-align: center;"><span style="FONT-SIZE: 18px"><img src="http://conimg.yp.yeyimg.com/2019/10/22/ba821534-23b9-4a2e-86db-c8c8e3044393.png"><img
								 src="http://conimg.yp.yeyimg.com/2019/10/22/7255c040-184e-4ddb-8c9a-40a46c15ed2f.png"><img src="http://conimg.yp.yeyimg.com/2019/10/22/11ebf82b-7e4b-4e32-9e38-b6b1f17833d5.png"><img
								 src="http://conimg.yp.yeyimg.com/2019/10/22/f63b37e8-af4f-44ce-a7e6-2102a0ad3616.png"><img src="http://conimg.yp.yeyimg.com/2019/10/22/981637ca-78c9-440a-bda8-c3c1cde3a782.png"><img
								 src="http://conimg.yp.yeyimg.com/2019/10/22/127cd327-2b4b-4e90-b16c-c16549827e8f.png"><img src="http://conimg.yp.yeyimg.com/2019/10/22/29e8c7b8-8a83-45b7-a413-e43cbf4797e8.png"><img
								 src="http://conimg.yp.yeyimg.com/2019/10/22/9e80ae8a-8177-4ec2-9bc4-ef293a9de197.png"><img src="http://conimg.yp.yeyimg.com/2019/10/22/95a5a363-24b1-48d1-b593-1b251ae5aa70.png"><img
								 src="http://conimg.yp.yeyimg.com/2019/10/22/316ce376-d559-4117-aba0-5dc01453acaa.png"><img src="http://conimg.yp.yeyimg.com/2019/10/22/58bfbb42-8c24-4662-9236-7aa62a55cf51.png"><img
								 src="http://conimg.yp.yeyimg.com/2019/10/22/eb4ec4e3-e70d-4a8d-b766-725060e8c067.png"><img src="http://conimg.yp.yeyimg.com/2019/10/22/4ef26c9a-c522-4043-9d3d-cf4893821d43.png"><img
								 src="http://conimg.yp.yeyimg.com/2019/10/22/c013401b-cdaf-423d-a18a-4f3cb6fb2a1b.png"><img src="http://conimg.yp.yeyimg.com/2019/10/22/1905fa34-85ed-4f30-bfd4-2a93b790d4e6.png"><img
								 src="http://conimg.yp.yeyimg.com/2019/10/22/d77b395b-9d5e-4ed9-abf2-272860794998.png"><img src="http://conimg.yp.yeyimg.com/2019/10/22/e52ff693-ec23-486e-a614-4a9764327c8d.png"></span></h2>
						<p></p>
					</span>
				</div>
			</div>
		</div>
		<script src="../js/vue-2.5.17.min.js"></script>
		<script src="../js/axios-0.18.min.js"></script>
		<script src="../js/moment.min.js"></script>
		<script src="../js/vue-main.js"></script>
		<script>
			var vue = new Vue({
				el: "#main1",
				data: {
					newsId: GetQueryString("id")
				},
				methods: {
					find11: function() {
						var _this = this;
						console.info(_this.newsId);
					}
				},
				created: function() {
					this.find11();
				}
			})
		</script>
	</body>
</html>
